/*GERAL*/
* {
    box-sizing: border-box;
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: #2B2B2E;
    font-family: Arial, sans-serif;
}

h1 {
    color: #fff;
    font-size: 36px;
    line-height: 40px;
}

h2 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
}

h3 {
    color: #fff;
    font-size: 26px;
    line-height: 30px;
}

p {
    color: #C1C1C1;
    font-size: 18px;
    line-height: 24px;
}

/* HEADER */
header {
    padding: 10px 4%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2B2B2E;
    z-index: 999;
    border-bottom: 3px solid #00FF44;
}

a .btnFaleConosco {
    background-color: transparent;
    border: 2px solid #00FF44;
    border-radius: 18px;
    color: #00FF44;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnFaleConosco button:hover {
    background-color: #00FF44;
    color: #2B2B2E;
}

#wrapper {
    margin-top: 60px;
    padding-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 60px;
}

/* Menu hamburguer */
.barra-opcoes {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    /* Começa fora da tela */
    background-color: #2B2B2E;
    padding: 20px;
    transition: 0.3s ease-in-out;
    z-index: 1000;
}

.barra-opcoes.active {
    left: 0;
    /* Quando ativo, move para posição visível */
}

.barra-opcoes ul {
    margin-top: 60px;
}

.barra-opcoes li {
    padding: 15px 0;
    border-bottom: 2px solid #444;
}

.menu_item {
    text-decoration: none;
    color: azure;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.2s;
}

.menu_item:hover {
    color: #00FF44;
}

.menu-hamburguer {
    margin-top: 9.5px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.menu-hamburguer img {
    width: 25px;
}

/*HOMEPAGE*/
section {
    margin-bottom: 80px;
    text-align: center;
}

.imgCarro img,
.imgCarroVerde img {
    margin-top: 50px;
    width: 100%;
}

/*SECTION 1*/
#section1{
    margin-top: 60px;
}

.texto {
    text-align: left;
    letter-spacing: -.0042em;
}

.btnOrcamento {
    margin-top: 15px;
}

.btnOrcamento button {
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btnOrcamento button:hover {
    transform: scale(1.1);
}

/*SECTION 2*/
#section2 h2 {
    margin-top: 50px;
}

/*SECTION 3*/
#section3 h1 {
    margin-bottom: 45px;
}

.beneficio h3 {
    margin-top: 35px;
    padding: 10px 10px 15px 0;
    border-bottom: 2px solid #c1c1c1c9;
}

/*Fale Conosco*/
h4 {
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.formulario-contato {
    padding-top: 40px;
    margin-top: 60px;
    max-width: 600px;
    width: 90%;
    margin: 2rem auto;
    color: #fff;
}

fieldset {
    padding: 20px;
    border: 2px solid #00FF44;
    border-radius: 10px;
}

.campo-form label {
    font-size: 16px;
    line-height: 20px;
}

.campo-form input {
    color: #fff;
    margin-top: 5px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: #ffffff3d;
    border: 0;
}

.campo-form textarea {
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #ffffff3d;
}

.btn-enviar {
    margin-top: 30px;
    height: 45px;
    border-radius: 50px;
    width: 150px;
    color: #000;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-enviar:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-enviar:active {
    transform: translateY(0);
}

/*INTEGRANTES*/
h5 {
    font-size: 28px;
    color: #fff;
}

.tituloIntegrantes{
    margin-top: 60px;
}

.integrante {
    margin-top: 80px;
    margin-bottom: 60px;
}

.txtIntegrante p {
    margin-top: 10px;
}

.txtIntegrante a {
    color: #fff;
    font-style: normal;
}

.imgIntegrante {
    text-align: center;
    margin-bottom: 30px;
}

.imgIntegrante img {
    border: 5px solid #C1C1C1;
    border-radius: 10rem;
    width: 250px;
}

/* Mensagem Enviada*/
.mensagemConfirmacao{
    margin-top: 0;
}

#mensagemConfirmacao {
    margin-top: 200px;
}

#mensagemConfirmacao h1 {
    font-size: 30px;
}

#mensagemConfirmacao p {
    font-size: 16px;
}

.btnVoltarTelaInicial{
    margin-top: 20px;
    text-align: left;
}

.btnVoltarTelaInicial a{
    cursor: pointer;
    text-decoration: underline;
    color: #C1C1C1;
}

/* Carros */
.carros{
    margin-top: 90px;
    text-align: center;
}

.carro {
    margin-bottom: 90px;
}

.carro h3{
    margin-bottom: 60px;
}

.imgCarros img{
    width: 90%;
    margin-bottom: 30px;
}

.carro p{
    text-align: left;
}

/* Servicos */
#section-hero{
    margin-top: 60px;
}

.servicos{
    text-align: left;
    letter-spacing: -.0042em;
}

.beneficiosServicos{
    margin-top: 60px;
}

.tituloFrota{
    margin-top: 90px;
}

.diferenciais{
    margin-top: 60px;
}

.diferencial-item{
    margin-top: 40px;
}

/*FOOTER*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

#faleConosco,
#mensagemEnviada,
#orcamento {
    position: fixed;
}